# Main Visualisation Notebook
Dit is het hoofd notebook

In [1]:
import plotly.graph_objs as go
import plotly.express as px
import pandas as pd

from plotly.offline import init_notebook_mode
init_notebook_mode(connected=True)

In [2]:
# df_food_prices = pd.read_csv('dataset_sources/Food_Prices.csv')
# df_food_prices_sweden = df_food_prices[df_food_prices['Country '] == 'Sweden'].drop('Country ', axis=1)
# df_food_prices_sweden.to_csv('filtered/Food_Prices_Sweden.csv', index=False)
# df_food_prices_sweden = pd.read_csv('filtered/Food_Prices_Sweden.csv')
# df_food_prices_sweden_years = df_food_prices_sweden[df_food_prices_sweden['Year '] <= 2021]
df_food_prices_sweden_years.to_csv('filtered/Food_Prices_Sweden_2018-2021', index=False)
df_food_prices_sweden.info()
# df_food_prices_sweden.describe()
df_food_prices_sweden.head(n=5)

NameError: name 'df_food_prices_sweden_years' is not defined

In [20]:
# df_wdi_indicators = pd.read_csv('dataset_sources/WDI_Indicators_MainData.csv')
# df_wdi_indicators_sweden = df_wdi_indicators[df_wdi_indicators['Country Name'] == 'Sweden'].drop('Country Name', axis=1).drop('Country Code', axis=1)
# df_wdi_indicators_sweden.to_csv("filtered/WDI_Indicators_Sweden.csv", index=False)
# df_wdi_indicators_sweden = pd.read_csv('filtered/WDI_Indicators_Sweden.csv')
# df_wdi_indicators_sweden_years = df_wdi_indicators_sweden[df_wdi_indicators_sweden['Time'] >= 2018]
# df_wdi_indicators_sweden_years.to_csv('filtered/WDI_Indicators_Sweden_2018-2021.csv', index=False)
df_wdi_indicators_sweden_years = pd.read_csv('filtered/WDI_Indicators_Sweden_2018-2021.csv')
df_wdi_indicators_sweden_years.info()
# df_wdi_indicators_sweden.describe()
df_wdi_indicators_sweden_years.head(n=5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 93 columns):
 #   Column                                                                                                                                        Non-Null Count  Dtype
---  ------                                                                                                                                        --------------  -----
 0   Time                                                                                                                                          4 non-null      int64
 1   Time Code                                                                                                                                     4 non-null      object
 2   Current education expenditure, primary (% of total expenditure in primary public institutions) [SE.XPD.CPRM.ZS]                               4 non-null      float64
 3   Current education expenditure, secondary (% of total expenditure in secondary public institutions) [SE.XPD.CSEC.ZS]                           4 non-null      float64
 4   Current education expenditure, tertiary (% of total expenditure in tertiary public institutions) [SE.XPD.CTER.ZS]                             4 non-null      float64
 5   Current education expenditure, total (% of total expenditure in public institutions) [SE.XPD.CTOT.ZS]                                         4 non-null      float64
 6   Current health expenditure (% of GDP) [SH.XPD.CHEX.GD.ZS]                                                                                     4 non-null      float64
 7   Domestic general government health expenditure (% of GDP) [SH.XPD.GHED.GD.ZS]                                                                 4 non-null      float64
 8   Educational attainment, at least Bachelor's or equivalent, population 25+, female (%) (cumulative) [SE.TER.CUAT.BA.FE.ZS]                     4 non-null      float64
 9   Educational attainment, at least Bachelor's or equivalent, population 25+, male (%) (cumulative) [SE.TER.CUAT.BA.MA.ZS]                       4 non-null      float64
 10  Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative) [SE.TER.CUAT.BA.ZS]                         4 non-null      float64
 11  Educational attainment, at least completed lower secondary, population 25+, female (%) (cumulative) [SE.SEC.CUAT.LO.FE.ZS]                    4 non-null      float64
 12  Educational attainment, at least completed lower secondary, population 25+, male (%) (cumulative) [SE.SEC.CUAT.LO.MA.ZS]                      4 non-null      float64
 13  Educational attainment, at least completed lower secondary, population 25+, total (%) (cumulative) [SE.SEC.CUAT.LO.ZS]                        4 non-null      float64
 14  Educational attainment, at least completed post-secondary, population 25+, female (%) (cumulative) [SE.SEC.CUAT.PO.FE.ZS]                     4 non-null      float64
 15  Educational attainment, at least completed post-secondary, population 25+, male (%) (cumulative) [SE.SEC.CUAT.PO.MA.ZS]                       4 non-null      float64
 16  Educational attainment, at least completed post-secondary, population 25+, total (%) (cumulative) [SE.SEC.CUAT.PO.ZS]                         4 non-null      float64
 17  Educational attainment, at least completed primary, population 25+ years, female (%) (cumulative) [SE.PRM.CUAT.FE.ZS]                         4 non-null      float64
 18  Educational attainment, at least completed primary, population 25+ years, male (%) (cumulative) [SE.PRM.CUAT.MA.ZS]                           4 non-null      float64
 19  Educational attainment, at least completed primary, population 25+ years, total (%) (cumulative) [SE.PRM.CUAT.ZS]                             4 non-null      float64
 20  Educational attainment, at least completed short-cycle tertiary, population 25+, female (%) (cumulative) [SE.TER.CUAT.ST.FE.ZS]               4 non-null      float64
 21  Educational attainment, at least completed short-cycle tertiary, population 25+, male (%) (cumulative) [SE.TER.CUAT.ST.MA.ZS]                 4 non-null      float64
 22  Educational attainment, at least completed short-cycle tertiary, population 25+, total (%) (cumulative) [SE.TER.CUAT.ST.ZS]                   4 non-null      float64
 23  Educational attainment, at least completed upper secondary, population 25+, female (%) (cumulative) [SE.SEC.CUAT.UP.FE.ZS]                    4 non-null      float64
 24  Educational attainment, at least completed upper secondary, population 25+, male (%) (cumulative) [SE.SEC.CUAT.UP.MA.ZS]                      4 non-null      float64
 25  Educational attainment, at least completed upper secondary, population 25+, total (%) (cumulative) [SE.SEC.CUAT.UP.ZS]                        4 non-null      float64
 26  Educational attainment, at least Master's or equivalent, population 25+, female (%) (cumulative) [SE.TER.CUAT.MS.FE.ZS]                       4 non-null      float64
 27  Educational attainment, at least Master's or equivalent, population 25+, male (%) (cumulative) [SE.TER.CUAT.MS.MA.ZS]                         4 non-null      float64
 28  Educational attainment, at least Master's or equivalent, population 25+, total (%) (cumulative) [SE.TER.CUAT.MS.ZS]                           4 non-null      float64
 29  Educational attainment, Doctoral or equivalent, population 25+, female (%) (cumulative) [SE.TER.CUAT.DO.FE.ZS]                                4 non-null      float64
 30  Educational attainment, Doctoral or equivalent, population 25+, male (%) (cumulative) [SE.TER.CUAT.DO.MA.ZS]                                  4 non-null      float64
 31  Educational attainment, Doctoral or equivalent, population 25+, total (%) (cumulative) [SE.TER.CUAT.DO.ZS]                                    4 non-null      float64
 32  Employers, female (% of female employment) (modeled ILO estimate) [SL.EMP.MPYR.FE.ZS]                                                         4 non-null      float64
 33  Employers, male (% of male employment) (modeled ILO estimate) [SL.EMP.MPYR.MA.ZS]                                                             4 non-null      float64
 34  Employers, total (% of total employment) (modeled ILO estimate) [SL.EMP.MPYR.ZS]                                                              4 non-null      float64
 35  Employment in agriculture (% of total employment) (modeled ILO estimate) [SL.AGR.EMPL.ZS]                                                     4 non-null      float64
 36  Employment in agriculture, female (% of female employment) (modeled ILO estimate) [SL.AGR.EMPL.FE.ZS]                                         4 non-null      float64
 37  Employment in agriculture, male (% of male employment) (modeled ILO estimate) [SL.AGR.EMPL.MA.ZS]                                             4 non-null      float64
 38  Employment in industry (% of total employment) (modeled ILO estimate) [SL.IND.EMPL.ZS]                                                        4 non-null      float64
 39  Employment in industry, female (% of female employment) (modeled ILO estimate) [SL.IND.EMPL.FE.ZS]                                            4 non-null      float64
 40  Employment in industry, male (% of male employment) (modeled ILO estimate) [SL.IND.EMPL.MA.ZS]                                                4 non-null      float64
 41  Employment in services (% of total employment) (modeled ILO estimate) [SL.SRV.EMPL.ZS]                                                        4 non-null      float64
 42  Employment in services, female (% of female employment) (modeled ILO estimate) [SL.SRV.EMPL.FE.ZS]                                            4 non-null      float64
 43  Employment in services, male (% of male employment) (modeled ILO estimate) [SL.SRV.EMPL.MA.ZS]                                                4 non-null      float64
 44  Employment to population ratio, 15+, female (%) (modeled ILO estimate) [SL.EMP.TOTL.SP.FE.ZS]                                                 4 non-null      float64
 45  Employment to population ratio, 15+, male (%) (modeled ILO estimate) [SL.EMP.TOTL.SP.MA.ZS]                                                   4 non-null      float64
 46  Employment to population ratio, 15+, total (%) (modeled ILO estimate) [SL.EMP.TOTL.SP.ZS]                                                     4 non-null      float64
 47  Employment to population ratio, ages 15-24, female (%) (modeled ILO estimate) [SL.EMP.1524.SP.FE.ZS]                                          4 non-null      float64
 48  Employment to population ratio, ages 15-24, male (%) (modeled ILO estimate) [SL.EMP.1524.SP.MA.ZS]                                            4 non-null      float64
 49  Employment to population ratio, ages 15-24, total (%) (modeled ILO estimate) [SL.EMP.1524.SP.ZS]                                              4 non-null      float64
 50  Hospital beds (per 1,000 people) [SH.MED.BEDS.ZS]                                                                                             3 non-null      float64
 51  International migrant stock (% of population) [SM.POP.TOTL.ZS]                                                                                0 non-null      float64
 52  Net migration [SM.POP.NETM]                                                                                                                   4 non-null      int64
 53  Nurses and midwives (per 1,000 people) [SH.MED.NUMW.P3]                                                                                       3 non-null      float64
 54  Part time employment, female (% of total female employment) [SL.TLF.PART.FE.ZS]                                                               4 non-null      float64
 55  Part time employment, male (% of total male employment) [SL.TLF.PART.MA.ZS]                                                                   4 non-null      float64
 56  Part time employment, total (% of total employment) [SL.TLF.PART.ZS]                                                                          4 non-null      float64
 57  Physicians (per 1,000 people) [SH.MED.PHYS.ZS]                                                                                                3 non-null      float64
 58  Population growth (annual %) [SP.POP.GROW]                                                                                                    4 non-null      float64
 59  Population, female [SP.POP.TOTL.FE.IN]                                                                                                        4 non-null      int64
 60  Population, male [SP.POP.TOTL.MA.IN]                                                                                                          4 non-null      int64
 61  Population, total [SP.POP.TOTL]                                                                                                               4 non-null      int64
 62  Research and development expenditure (% of GDP) [GB.XPD.RSDV.GD.ZS]                                                                           4 non-null      float64
 63  Researchers in R&D (per million people) [SP.POP.SCIE.RD.P6]                                                                                   4 non-null      float64
 64  Scientific and technical journal articles [IP.JRN.ARTC.SC]                                                                                    4 non-null      float64
 65  Self-employed, female (% of female employment) (modeled ILO estimate) [SL.EMP.SELF.FE.ZS]                                                     4 non-null      float64
 66  Self-employed, male (% of male employment) (modeled ILO estimate) [SL.EMP.SELF.MA.ZS]                                                         4 non-null      float64
 67  Self-employed, total (% of total employment) (modeled ILO estimate) [SL.EMP.SELF.ZS]                                                          4 non-null      float64
 68  Share of youth not in education, employment or training, female (% of female youth population) (modeled ILO estimate) [SL.UEM.NEET.FE.ME.ZS]  4 non-null      float64
 69  Share of youth not in education, employment or training, male (% of male youth population)  (modeled ILO estimate) [SL.UEM.NEET.MA.ME.ZS]     4 non-null      float64
 70  Share of youth not in education, employment or training, total (% of youth population)  (modeled ILO estimate) [SL.UEM.NEET.ME.ZS]            4 non-null      float64
 71  Survival to age 65, female (% of cohort) [SP.DYN.TO65.FE.ZS]                                                                                  4 non-null      float64
 72  Survival to age 65, male (% of cohort) [SP.DYN.TO65.MA.ZS]                                                                                    4 non-null      float64
 73  Unemployment with advanced education, female (% of female labor force with advanced education) [SL.UEM.ADVN.FE.ZS]                            4 non-null      float64
 74  Unemployment with advanced education, male (% of male labor force with advanced education) [SL.UEM.ADVN.MA.ZS]                                4 non-null      float64
 75  Unemployment with basic education (% of total labor force with basic education) [SL.UEM.BASC.ZS]                                              4 non-null      float64
 76  Unemployment with basic education, female (% of female labor force with basic education) [SL.UEM.BASC.FE.ZS]                                  4 non-null      float64
 77  Unemployment with basic education, male (% of male labor force with basic education) [SL.UEM.BASC.MA.ZS]                                      4 non-null      float64
 78  Unemployment with intermediate education (% of total labor force with intermediate education) [SL.UEM.INTM.ZS]                                4 non-null      float64
 79  Unemployment with intermediate education, female (% of female labor force with intermediate education) [SL.UEM.INTM.FE.ZS]                    4 non-null      float64
 80  Unemployment with intermediate education, male (% of male labor force with intermediate education) [SL.UEM.INTM.MA.ZS]                        4 non-null      float64
 81  Unemployment, female (% of female labor force) (modeled ILO estimate) [SL.UEM.TOTL.FE.ZS]                                                     4 non-null      float64
 82  Unemployment, male (% of male labor force) (modeled ILO estimate) [SL.UEM.TOTL.MA.ZS]                                                         4 non-null      float64
 83  Unemployment, total (% of total labor force) (modeled ILO estimate) [SL.UEM.TOTL.ZS]                                                          4 non-null      float64
 84  Unemployment, youth female (% of female labor force ages 15-24) (modeled ILO estimate) [SL.UEM.1524.FE.ZS]                                    4 non-null      float64
 85  Unemployment, youth male (% of male labor force ages 15-24) (modeled ILO estimate) [SL.UEM.1524.MA.ZS]                                        4 non-null      float64
 86  Unemployment, youth total (% of total labor force ages 15-24) (modeled ILO estimate) [SL.UEM.1524.ZS]                                         4 non-null      float64
 87  Vulnerable employment, female (% of female employment) (modeled ILO estimate) [SL.EMP.VULN.FE.ZS]                                             4 non-null      float64
 88  Vulnerable employment, male (% of male employment) (modeled ILO estimate) [SL.EMP.VULN.MA.ZS]                                                 4 non-null      float64
 89  Vulnerable employment, total (% of total employment) (modeled ILO estimate) [SL.EMP.VULN.ZS]                                                  4 non-null      float64
 90  Wage and salaried workers, female (% of female employment) (modeled ILO estimate) [SL.EMP.WORK.FE.ZS]                                         4 non-null      float64
 91  Wage and salaried workers, male (% of male employment) (modeled ILO estimate) [SL.EMP.WORK.MA.ZS]                                             4 non-null      float64
 92  Wage and salaried workers, total (% of total employment) (modeled ILO estimate) [SL.EMP.WORK.ZS]                                              4 non-null      float64
dtypes: float64(87), int64(5), object(1)
memory usage: 3.0+ KB

,Time,Time Code,"Current education expenditure, primary (% of total expenditure in primary public institutions) [SE.XPD.CPRM.ZS]","Current education expenditure, secondary (% of total expenditure in secondary public institutions) [SE.XPD.CSEC.ZS]","Current education expenditure, tertiary (% of total expenditure in tertiary public institutions) [SE.XPD.CTER.ZS]","Current education expenditure, total (% of total expenditure in public institutions) [SE.XPD.CTOT.ZS]",Current health expenditure (% of GDP) [SH.XPD.CHEX.GD.ZS],Domestic general government health expenditure (% of GDP) [SH.XPD.GHED.GD.ZS],"Educational attainment, at least Bachelor's or equivalent, population 25+, female (%) (cumulative) [SE.TER.CUAT.BA.FE.ZS]","Educational attainment, at least Bachelor's or equivalent, population 25+, male (%) (cumulative) [SE.TER.CUAT.BA.MA.ZS]",...,"Unemployment, total (% of total labor force) (modeled ILO estimate) [SL.UEM.TOTL.ZS]","Unemployment, youth female (% of female labor force ages 15-24) (modeled ILO estimate) [SL.UEM.1524.FE.ZS]","Unemployment, youth male (% of male labor force ages 15-24) (modeled ILO estimate) [SL.UEM.1524.MA.ZS]","Unemployment, youth total (% of total labor force ages 15-24) (modeled ILO estimate) [SL.UEM.1524.ZS]","Vulnerable employment, female (% of female employment) (modeled ILO estimate) [SL.EMP.VULN.FE.ZS]","Vulnerable employment, male (% of male employment) (modeled ILO estimate) [SL.EMP.VULN.MA.ZS]","Vulnerable employment, total (% of total employment) (modeled ILO estimate) [SL.EMP.VULN.ZS]","Wage and salaried workers, female (% of female employment) (modeled ILO estimate) [SL.EMP.WORK.FE.ZS]","Wage and salaried workers, male (% of male employment) (modeled ILO estimate) [SL.EMP.WORK.MA.ZS]","Wage and salaried workers, total (% of total employment) (modeled ILO estimate) [SL.EMP.WORK.ZS]"
0,2018,YR2018,95.676880,95.153908,96.261658,94.817253,10.94,9.28,36.323666,25.779167,...,6.365,16.244,18.511,17.400,4.190536,8.707876,6.559247,94.250259,86.681399,90.281487
1,2019,YR2019,95.300537,94.945000,96.213333,95.402473,10.83,9.22,29.040001,21.049999,...,6.833,19.654,20.511,20.094,4.313352,8.774362,6.661061,94.096348,86.598222,90.150267
2,2020,YR2020,95.185387,94.972870,96.202148,95.371567,11.33,9.77,38.214672,27.006084,...,8.291,22.734,24.942,23.895,4.359539,8.909383,6.763949,94.151037,86.440356,90.076253
3,2021,YR2021,92.513046,93.643578,96.319321,94.238380,11.25,9.66,37.849453,27.506386,...,8.722,24.040,25.122,24.599,4.748236,9.305429,7.160826,93.644305,85.816367,89.500224

In [21]:
# df_annual_net_earnings = pd.read_csv('dataset_sources/estat_earn_nt_net_en.csv')
# df_annual_net_earnings_sweden = df_annual_net_earnings[df_annual_net_earnings['geo'] == 'Sweden'].drop('geo', axis=1)
# df_annual_net_earnings_sweden.to_csv('filtered/Annual_Net_Earnings_Sweden.csv', index=False)
# df_annual_net_earnings_sweden = pd.read_csv('filtered/Annual_Net_Earnings_Sweden.csv')
# df_annual_net_earnings_sweden_years = df_annual_net_earnings_sweden[(df_annual_net_earnings_sweden['TIME_PERIOD'] >= 2018) & (df_annual_net_earnings_sweden['TIME_PERIOD'] <= 2021)]
# df_annual_net_earnings_sweden_years.to_csv('filtered/Annual_Net_Earnings_Sweden_2018-2021.csv', index=False)
df_annual_net_earnings_sweden_years = pd.read_csv('filtered/Annual_Net_Earnings_Sweden_2018-2021.csv')
df_annual_net_earnings_sweden_years.info()
# df_annual_net_earnings_sweden_years.describe()
df_annual_net_earnings_sweden_years.head(n=5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 936 entries, 0 to 935
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     936 non-null    object
 1   LAST UPDATE  936 non-null    object
 2   freq         936 non-null    object
 3   currency     936 non-null    object
 4   estruct      936 non-null    object
 5   ecase        936 non-null    object
 6   TIME_PERIOD  936 non-null    int64
 7   OBS_VALUE    936 non-null    float64
 8   OBS_FLAG     0 non-null      float64
 9   CONF_STATUS  0 non-null      float64
dtypes: float64(3), int64(1), object(6)
memory usage: 73.3+ KB

,DATAFLOW,LAST UPDATE,freq,currency,estruct,ecase,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:EARN_NT_NET(1.0),29/04/25 23:00:00,Annual,Euro,Family allowances,One-earner couple with two children earning 10...,2018,3021.94,NaN,NaN
1,ESTAT:EARN_NT_NET(1.0),29/04/25 23:00:00,Annual,Euro,Family allowances,One-earner couple with two children earning 10...,2019,3003.09,NaN,NaN
2,ESTAT:EARN_NT_NET(1.0),29/04/25 23:00:00,Annual,Euro,Family allowances,One-earner couple with two children earning 10...,2020,3032.96,NaN,NaN
3,ESTAT:EARN_NT_NET(1.0),29/04/25 23:00:00,Annual,Euro,Family allowances,One-earner couple with two children earning 10...,2021,3134.09,NaN,NaN
4,ESTAT:EARN_NT_NET(1.0),29/04/25 23:00:00,Annual,Euro,Family allowances,"Two-earner couple with two children, both earn...",2018,3021.94,NaN,NaN

# Options visualisation
- Multibar chart showing net income through the years for a view categories
- Distribution income sources donut chart maybe
- Food Prices per product or per category aka essential (bread) and luxury food
- Line chart comparing income and food prices
need more

**Gebruik Lecture 4-4 pagina 11** om te kijken wat voor plot het beste past.